/* You can add global styles to this file, and also import other style files */

/* création de variable de couleurs */
:root {
    --text-gris: #191919;
    --text-blanc: #f6f4f0;
}

/* Import de la police */
@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Appliquer la police globalement */
body {
    font-family: 'Libre Baskerville', serif;
    color: var(--text-gris);
}